
<h1 style="color: red; font-weight: bold;">
  <%= @article.title %>
  <span>
    <%= link_to edit_article_path(@article) do %>
      ✒️
    <% end %>
  </span>
 
</h1>

<br>
<p style="color: lightgrey; text-align: justify;"><%= @article.content %></p>

<%= link_to "Retour à la liste des articles", articles_path %>
